In [ ]:
#Database Programming 

#Interfaces to most popular SQL databases are available 
    #from third-party modules, and out of the box Python comes 
    #with the sqlite3 module (and with the SQLite 3 database), 
    #so database programming can be started right away.

#SQLite is a lightweight SQL database, lacking many of 
    #the features of, say, PostgreSQL, but it is very 
    #convenient for prototyping, and may prove sufficient
    #in many cases.

In [ ]:
#Connect To Database
import sqlite3
try:
    #Connect To Database
    conn = sqlite3.connect('test.db')
    print ("Opened database successfully")
    
    #Create a Table
    conn.execute('CREATE TABLE COMPANY \
             (ID INT PRIMARY KEY    NOT NULL,\
             NAME           TEXT    NOT NULL,\
             AGE            INT     NOT NULL,\
             ADDRESS        CHAR(50),\
             SALARY         REAL);')
    print ("Table created successfully")
except Exception as e:
    print(e)
conn.close()

In [ ]:
#Insert Operation
try:
    conn = sqlite3.connect('test.db')
    print ("Opened database successfully")

    conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
          VALUES (1, 'Ajay', 32, 'Chennai', 20000.00 )");

    conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
          VALUES (2, 'Aman', 25, 'Indore', 15000.00 )");

    conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
          VALUES (3, 'Tilak', 23, 'Bhopal', 20000.00 )");

    conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
          VALUES (4, 'Manoj', 25, 'Raipur', 65000.00 )");
    conn.commit() #End the transaction and make the changes permanent
    conn.close()
except Exception as e:
    print(e)
else:
    print ("Records created successfully")

In [ ]:
#Select Operation
import sqlite3

try:
    conn = sqlite3.connect('test.db')
    print ("Opened database successfully")

    #cursor-an identifier associated with a group of rows.
            #a pointer to the current row in a buffer.

    cursor = conn.execute("SELECT id, name, address, salary \
                            from COMPANY ")
    for row in cursor:
        print ("ID = ", row[0], end=' ')
        print ("NAME = ", row[1], end=' ')
        print ("ADDRESS = ", row[2], end=' ')
        print ("SALARY = ", row[3])
    conn.close()
except Exception as e:
    conn.close()
    print(e)
else:
    print ("Operation done successfully")

In [ ]:
#Update Operation
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit
print ("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print ("ID = ", row[0], end=' ')
    print ("NAME = ", row[1], end=' ')
    print ("ADDRESS = ", row[2], end=' ')
    print ("SALARY = ", row[3])

print ("Operation done successfully")
conn.close()

In [ ]:
#Delete Operation
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully")

conn.execute("DELETE from COMPANY where ID = ?;",2)
conn.commit()
print ("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print ("ID = ", row[0], end=' ')
    print ("NAME = ", row[1], end=' ')
    print ("ADDRESS = ", row[2], end=' ')
    print ("SALARY = ", row[3])

print ("Operation done successfully")
conn.close()

In [ ]:
#Insert Operation
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (?, ?, ?, ?, ?)", (5, 'n', 34, 'a', 345555));


conn.commit()
print ("Records created successfully")
conn.close()

In [1]:
import tkinter as tk
win=tk.Tk()

label = tk.Label(
    text="Hello, Tkinter",
    fg="white",
    bg="black",
    width=10,
    height=10
)
label.pack()
win.mainloop()